body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background-color: #f0f0f0; /* Optional: Add a background color */
  text-align: center;
}

.app-container {

  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content within body-container */
  background-color: white; /* Optional: Add a background color */
  padding: 20px; /* Optional: Add some padding */
  border-radius: 10px; /* Optional: Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}
#main-heading {
  text-align: center;
}

.todo-container, .grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px 5px;
  align-items: center;
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px 5px;
}

.todo-delete {
  background-color: rgb(224, 116, 27);
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  padding: 15px 0px;
  cursor: pointer;
}

.todo-delete:active {
  transform: scale(0.95);
  background-color: rgb(192, 93, 11);
}

.todo-button {
  background-color: rgb(106, 224, 27);
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  padding: 15px 0px;
  cursor: pointer;
}

.todo-button:active {
  transform: scale(0.95);
  background-color: rgb(42, 165, 4);
}